*{
    margin: 0;
    padding: 0;
}

:root {
    --text-main: #100101;
    --text-second: #000000ad;
    --main-bg: #B5C9FE;
    --item-active: #468be6;
    --primary: #6B43FF;
    --primary-light: #6667B0;
    --violet-light: #B492FD;
    --secondary: #1D1D1D;
    --white: #F4F1FF;
    --text: #323760;
    --info-side-background: #ad4ef5;
    --main-font: 'inter';
    --mainText-size: 1.9em;
    --secondText-size: 1em;
    --cardText-size: 1em;
    --button-size: 1.2em;
}


.navbar{
    border: 1px solid black;
    background-color: var(--main-bg);
    font-weight: bold;
    color: var(--text-main);
    padding: 0 0.7rem;
}
.navbar-burger {
    cursor: pointer;
}

.navbar-burger:hover {
    opacity: 0.7;
}
.navbar-burger span{
    border: 1px solid var(--button-bg);
    height: 2px;
    width: 20px;
}

.container{
    padding: 50px 0;
    
}

.head{
    padding: 10px 0;
    
}

.head{
    font-size: var(--mainText-size);
    color: var(--text-main);

}

.columns{
    justify-content: center;
    padding: 10px 0;
}

.column{
    background-color: var(--main-bg);
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    margin: 10px 10px 10px;
}


.medico-card{
    border: 1px solid black;
    text-align: center;
}
.card-content{
    font-size: var(--cardText-size);
    color: var(--text-main);   
    
}

.schedule{
    text-align: center;
    padding: 10px 0;
}

.form-box{
    text-align: center;
}

.formfield input[type="radio"]{
    text-align: center;
    width: 20.5em;
    font-size: 1.5em;
    color: var(--text-main);
}

.button-agendar{
    font-size: var(--secondText-size);
    background:#c9e6ff;
    border:1px solid black;
    padding: 0 30px;
    margin: 20px 0;
    text-transform: uppercase;
    
}

.button-agendar:hover{
    background:#92bde7;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;    
}

.button-box{
    text-align: center;
}

.button-bot{
    font-size: var(--secondText-size);
    background:#c9e6ff;
    border:1px solid black;
    padding: 0 30px;
    margin: 20px 0;
    text-transform: uppercase;
}
.button-bot:hover{
    background:#92bde7;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out; 
}

.rodape{
    text-align: center;
    background-color: var(--main-bg);
    
}


.rodape__list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.list__link a{
    text-decoration: none;
    color: var(--text-main);
    margin-left: 1em;
}

.list__link a:hover{
    color: var(--button-bg);
}
.list__link a:active{
    color: var(--item-active);
}

.rodape__text{
    color: var(--text-second);
    font-size: 1em;
}


