* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --text-main: #100101;
    --text-second: #000000ad;
    --main-bg: #B5C9FE;
    --item-active: #468be6;
    --primary: #6B43FF;
    --primary-light: #6667B0;
    --violet-light: #B492FD;
    --secondary: #1D1D1D;
    --white: #F4F1FF;
    --text: #323760;
    --info-side-background: #ad4ef5;
    --main-font: 'inter';
    --mainText-size: 1.9em;
    --secondText-size: 1em;
    --cardText-size: 0.75em;
    --button-size: 0.7em;
}


.navbar{
    border: 1px solid black;
    background-color: var(--main-bg);
    font-weight: bold;
    color: var(--text-main);
    padding: 0 0.7rem;
}
.navbar-burger {
    cursor: pointer;
}

.navbar-burger:hover {
    opacity: 0.7;
}


.navbar-burger span{
    border: 1px solid var(--button-bg);
    height: 2px;
    width: 20px;
}

.container {
    display: flex;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--main-bg);
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
    border: 1px solid black;
}

.formfield {
 flex: 1;
 padding: 2.3rem;
 justify-content: center;
 align-items: center;
 text-align: center;
 
}
.formfield h2 {
 margin-top: 1rem;
 text-align: center;
 font-size: 3rem;
}

input{
    margin: 0.7rem 0.7rem;
}

.formfield input[type="text"]{
    text-align: center;
    width: 20.5rem;
    font-size: 1.5rem;
    color: var(--text-main);
    border-radius: 8px;
}
.formfield input[type="email"]{
    text-align: center;
    width: 20.5rem;
    font-size: 1.5rem;
    border-radius: 8px;
}
.formfield input[type="password"]{
    width: 20.5rem;
    font-size: 1.5rem;
    padding: auto;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
}

.formfield input[type="date"] {
 padding: 8px;
 margin-bottom: 10px;
 border-radius: 4px;
 border: 1px solid var(--text-main);
 box-sizing: border-box;
 width: 220px;
 height: 1.7rem;
 
 
}
.formfield input[type="submit"] {
 background-color: #007bff;
 color: #fff;
 border: none;
 padding: 10px 20px;
 border-radius: 4px;
 cursor: pointer;
}
#produto{
    width: 10rem;
    height: 2rem;
    text-align: center;
}
.formfield input[type="submit"]:hover {
    background:#92bde7;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
}

.rodape{
    text-align: center;
    background-color: var(--main-bg);
    padding: 20px 0;
    
}


.rodape__list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.list__link a{
    text-decoration: none;
    color: var(--text-main);
    margin-left: 1em;
}

.list__link a:hover{
    color: var(--button-bg);
}
.list__link a:active{
    color: var(--item-active);
}

.rodape__text{
    color: var(--text-second);
    font-size: 1em;
}

.formfield button[type="submit"] {
    background-color: #6A7699; /* Azul Claro */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px; 
}

.formfield button[type="submit"]:hover {
    background-color: #6667B0; 
}



