/* Estilos personalizados, se necessário */
.medico-card {
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  .medico-card:hover {
    transform: scale(1.05);
  }
  /* Adicione essas regras para realçar visualmente o horário selecionado */
.horario-selecionado {
  background-color: #4CAF50; /* Cor de fundo verde */
  color: white; /* Cor do texto branco */
}
